body {
    font-family: 'Stylish', sans-serif;
}

/* Containers */

.nav-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;

}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-toggler {
    border-width: 0;
}

.alert-warning {
    padding-left: 10;
    padding-right: 0;
    color: #fff;
    background-color: #c9572b;
}

.alert {
    margin-bottom: 0;
    border-width: 0;
    border-radius: 0;
}

.callout-container {
    height: 100vh;

    background: url('../img/the-rolling-stones-bg.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout2-container {
    height: 100vh;

    background: url('../img/the-rolling-stones-bg2.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.features-container {
    background-color: #c9572b;
}

/* Block dividers */

.block-divider {
    width: 175px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f88f10;
}

.block-divider--short {
    width: 35px;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--brown {
    color: white;
    background-color: #b36447;
    border-color: #b36447;
}

.btn--brown:hover,
.btn--brown:active,
.btn--brown:focus,
.btn--brown:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}
